* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 30px;
}

p,
a {
    font-size: 18px;
    color: black;
    background-color: transparent;
}



/* IF screen is not a mobile phone */
@media (min-width:600px) {
    .name {
        flex: 5;

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 60px;
    }

    .appbar {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-evenly;
        margin-bottom: 30px;

    }

    .appbaritem{
        right: 0px;
        margin: 15px 0;
        padding: 15px 25px;
        color: black;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    span {
        margin: 0;
        color: #ff7f40;
    }

    .info {
        position: relative;
        top: 30vh;
        display: inline-flex;
        flex-direction: column;
        align-items: start;
    }

    .ui {
        color: black;
        margin: 10px 0px;
        font-size: 20px;
    }

    .info>p {
        font-size: 40px;
    }

    .myphoto {
        width: 600px;
        height: 650px;
    }

    .me {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    footer {
        text-align: end;
        position: relative;
        bottom: 0;
        font-size: 30px;
    }

    .skill-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .skill-box {
        margin-top: 1rex;
        box-shadow: 10px 10px 10px rgb(147, 136, 136);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 350px;
        width: 250px;
        border: 30px 30px;
        align-items: center;
    }

    .image {
        padding: 10px;
        background-color: transparent;
        height: 100px;
        width: 100px;
        object-fit: scale-down;

    }

    .skill-box>h2 {
        font-size: 20px;
        padding: 10px;
        background-color: transparent;
    }

    .skill-box>p {
        text-align: center;
        padding: 10px;
        background-color: transparent;
    }

    .tools {
        align-items: center;
        margin: 50px 0px;
        display: flex;
        justify-content: space-around;
    }

    .tools-info {
        width: 500px;
        display: flex;
        flex-direction: column;
    }

    .tools>img {
        margin-top: 30px;
        width: 600px;
        height: 400px
    }

    .contact-box {
        padding: 20px;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;

    }

    .contact-box>h2 {
        text-align: center;
        color: teal;
    }

    .contact-details-box>h3 {
        margin: 0px;
        font-size: 19px;
    }

    .contact-details-box>img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
        margin: 0;
        background-color: #ff7f40;
        grid-row-start: span 2;

    }

    .contact-details-box {
        display: grid;
        margin: 30px;
        grid-template-columns: 100px auto;
        grid-template-rows: 30px;
        justify-content: baseline;

    }

    .img-hover {
        box-shadow: 100px 100px 100px rgb(253, 241, 241);
        background-color: #ff7f40;
    }

    .appbaritem:hover
    {
        font-size: 18px;
        background-color: #ff7f40;
        border-radius: 15px;
    }

}